*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background:#F0F0F0
}
/*style of navbar*/

.head .navbar{
    width: auto;
    height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #021826;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
}
.navbar .logo{
    display: flex;
    gap: 5px;
    text-transform: uppercase;
    font-weight:800;
    font-size: 3.5vmin;
    align-items:center;
}

.logo h2{
    margin-top:10px ;
    padding: 5px;

}
.logo h2 a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 30pxs;

} 
.navbar .nav{
    padding: 5px;

}
.nav ul{
    display: flex;
    gap: 15px;
}

.nav ul li{
    margin: 10px;
    list-style: none;

}
    .nav ul li a{
    text-decoration: none;
    font-size: 3.2vmin;
    color: #04BfAD;
    cursor: pointer;
    text-transform: capitalize;
    position: relative;
    
}
.nav ul li a::after{
    content: "";
    width:0;
    height:2px;
    background: #04BfAD;
   
    position: absolute;
    left:0;
    bottom: -8px;
    display: block;
    transition: 0.5s;

}
.nav ul li a:hover::after{
    width:100%;

}
.navbar .buttons{
    margin: 5px;
    padding: 10px;
}
.buttons button{
    margin: 10px;
    font-size: 25px;
    padding: 6px 10px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    background:transparent;
    color:white;
    width:130px;
    height:50px;
    transition-duration: 1s;
    text-transform: capitalize;

}

.buttons button:hover {
    background-color: #037f8c;
    transform:scale(1.1);
}
/*style of navbar*/
/*style of the image and the title*/
.frequantquestion{
    height: 500px;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(inej4.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
}
.frequantquestion .title{
    width: 90%;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.title h1{
    font-size:6.5vmin;
    font-size:800;
    text-transform: capitalize;
    color: #fff;
}

.title p{
    text-transform:capitalize;
    font-size:2.8vmin;
    color:#fff;
    margin:20px 0 20px;
    word-spacing: 1px;
    line-height: 1.9;
}
.title a{
    text-decoration:none;
    background:transparent;
    font-size:2.5vmin;
    color:#ffffff;
    text-transform: capitalize;
    padding: 12px 40px;
    border: 1px solid #fff;
    cursor: pointer;
    transition: 1s;
    margin-top: 20px;
    display:inline-block ;
}
.title a:hover{
    background:#037f8c;
    border: 1px solid #037f8c;
}

.faq-section {
    width:80%;
    margin: auto;
    
    
}

.question {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.faq-section .question .button{
    text-transform: capitalize;
    padding: 15px;
    font-size: 3vmin;
    width:400px;
    outline:none;
    height: 50px;
    background: #ffffff;
    border:1px solid rgba(0, 0, 0, 0.7);
    margin: 0 0 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0,0,0,0.5);
    color:#023859;
    cursor: pointer;

}
.answer {
    display: none;
    text-transform: capitalize;
    color : black;
    background-color: #fff;
    width:400px;
    height: 150px;
    margin:0 0 5px;
    line-height: 1.6;
    font-size: 2.6vmin;
    padding: 20px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0,0,0,0.5);
}

.answer.active {
    display: block;
}

/*style of drowp down*/
.drop-down{
    display: none;
 }
 .nav ul li:hover .drop-down{
     display: block;
     position:absolute;
     margin-top: 15px;
     margin-left: -15px;
     background: #021826;
     padding: 15px;
     z-index: 1;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}
 
 .nav ul li:hover .drop-down ul{
     display: block;
     margin: 10px;
 }
 .nav ul li:hover .drop-down ul li{
    width: 150px;
    padding: 10px;
    text-align: left;
    border-radius: 0;
 }
 /*style of the footer*/
 .section5{
    margin-top: 250px;
    background: #023859;
 }
 .footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    height: auto;
    position: relative;
   
 }
 .company-footer{
   margin-bottom: 150px;
   max-height: 100vh;
 
 }
 .company-footer h3{
    text-transform: capitalize;
    font-size: 4vmin;
    color:#78b4d6;

 }
 .company-footer p{
    line-height: 1.5;
    text-transform: capitalize;
    font-size: 18px;
    margin-top: 20px;
    color:#78b4d6;
 }
 .links-footer h3{
    text-transform: capitalize;
    font-size: 4vmin;
   color:#78b4d6;
   
 }
 .links-footer{
    max-height:100vh;
    margin-bottom: 50px;
 }
 .links a {
    display:block;
    text-decoration: none;
    margin: 0 0 15px;
    text-transform: capitalize;
    font-size: 18px;
    color:#FFA500;

}
 .links{
    margin: 20px 0;

 }
 .subscribe{
  height: auto;
  margin-bottom: 140px;
  
 }
 .subscribe input{
    margin: 20px 0;
    padding: 10px;
    height: 40px;
    width:250px;
    outline:none;
    font-size:18px;
    text-transform:capitalize;
    border:none;
    border-radius:5px;
    border:1px solid  transparent;
    color:#333
}
.subscribe input:hover{
    border: 1px solid #000;
}
 .subscribe .btn{
    padding: 10px;
    font-size:18px;
    border: none;
    border-radius:5px;
    text-transform: capitalize;
    margin-left: 5px;
    border: 1px solid transparent;
    background: #fff;
    color:#333
 }
 .subscribe .btn:hover{
    border:1px solid #000;
 }
 .icon-subscribe{
    text-align: left;
 }
 .icon-subscribe i{
    font-size:25px;
    color:#fff;
    margin: 10px 3px;
    color:#FFA500;
 }
 .subscribe h3{
    font-size: 4vmin;
    text-transform: capitalize;
    color:#78b4d6;
 }
    
.links-footer a{
    display: block;
 }


