*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
    url(map\ background.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

/*style of navbar*/
.head .navbar{
    width: auto;
    height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #021826;
   /* box-shadow: 3px 3px 5px black;*/
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    
}
.navbar .logo{
    display: flex;
    gap: 5px;
    text-transform: uppercase;
    font-weight:800;
    font-size: 3.5vmin;
    align-items:center;
}

.logo h2{
    margin-top:10px ;
    padding: 5px;

}
.logo h2 a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 30pxs;

} 
.navbar .nav{
    padding: 5px;

}
.nav ul{
    display: flex;
    gap: 15px;
}

.nav ul li{
    margin: 10px;
    list-style: none;

}
    .nav ul li a{
    text-decoration: none;
    font-size: 3.2vmin;
    color: #04BfAD;
    cursor: pointer;
    text-transform: capitalize;
    position: relative;
    
}
.nav ul li a::after{
    content: "";
    width:0;
    height:2px;
    background: #04BfAD;
   
    position: absolute;
    left:0;
    bottom: -8px;
    display: block;
    transition: 0.5s;

}
.nav ul li a:hover::after{
    width:100%;

}
.navbar .buttons{
    margin: 5px;
    padding: 10px;
}
button{
    margin: 10px;
    font-size: 25px;
    padding: 6px 10px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    background:transparent;
    color:white;
    width:130px;
    height:50px;
    transition-duration: 1s;
    text-transform: capitalize;

}

button:hover {
    background-color: #037f8c;
    transform:scale(1.1);
}


/* style of contanire*/
.contanire{
    margin-top: 150px;
}
.content{
    display:flex;
    align-items: center;
    width:80%;
    margin:auto;
    justify-content: center;
}
.text-contanire h1{
    text-transform:capitalize;
    color:#04BfAD;
    line-height: 1.2;
    font-weight:700;
     text-shadow: 2px 2px 4px rgb(0, 0, 0,0.1);;
    
}
.text-contanire p{
    font-size:2.6vmin;
    text-transform:capitalize;
    color:#ffffff;
    margin-top:20px;
    line-height:1.5;
    letter-spacing: 1px;
    width:90%;
    
}
.text-contanire a{
    text-decoration:none;
    background:#037f8c;
    color:#ffffff;
    font-size:3vmin;
    text-transform:capitalize;
    display: inline-block;
    margin: 30px 0;
    padding:13px 45px;
    border-radius:25px;
    cursor: pointer;
    transition:0.5s;
    box-shadow: 3px 3px 4px black;
}
.text-contanire a:hover{
    transform: scale(1.1);
}
.photo-contanire{
    width:100%
}
.photo-contanire img{
    width:100%
}

/*style of drowp down*/
.drop-down{
   display: none;
}
.nav ul li:hover .drop-down{
    display: block;
    position:absolute;
    margin-top: 15px;
    margin-left: -15px;
    background: #021826;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
   

}

.nav ul li:hover .drop-down ul{
    display: block;
    margin: 10px;
}
.nav ul li:hover .drop-down ul li{
   width: 150px;
   padding: 10px;
   text-align: left;
   border-radius: 0;
}

